.main {
  width: 360px;
  margin: 20px auto 0;
  padding: 20px 20px;
  position: relative;

}
.main #pwd{
  width:200px;
  height:40px;
}
.main .pwd-text {
  width: 185px;
  height: 27px;
  z-index: -10;
  border: none;
  position: relative;
  left: 65px;
  top: -66px;

}
.main #eye{
    width:30px;
    height:25px;
    background-size:contain;
    background-image:url(./eye.jpg) ;
    background-repeat:no-repeat;
    position: absolute;
    top: 32px;
    left: 175px;

} 
.main #eye:hover{
  background-image:url(./eye2.png);
}

